# OS
.DS_Store

# Editor/IDE
.vscode/
.idea/

# Environment files
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Node
node_modules/

# Build outputs
build/
dist/
.next/
out/
coverage/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
